* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
body {
	background-color: #EDF5E1;
}
nav {
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img {
	width: 150px;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #EDF5E1;
	text-decoration: none;
	font-size: 13px;

}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box {
	width: 90%;
	color:#EDF5E1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.text-box h1{
	font-size: 62px;
}
.text-box p{
	margin: 10px 0 40px;
	font-size: 14px;
	color: #EDF5E1;
}

nav .fa{
	display: none;
}

#Info-Section {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	background-color: #EDF5E1;
	padding-bottom: 100px;
}
h1 {
	font-size: 36px;
	font-weight: 600;
}
p {
	color: #02122b;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.Info-bar {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
#bott {
	margin: auto;
	text-align: center;
	padding-top: 70px;
	background-color: #dcdea6;
	padding-bottom: 70px;
	padding-left: 20;
}
h3 {
	font-weight: 550;
}
.col ul li {
	list-style: none;
	text-decoration: none;
}
.Art-Box {
	margin: 20px 20px 20px 70px;
}
h1 {
	text-align: center;
}
.sidebar {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.sidebar {
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100%;
	background-color: #EDF5E1;
}
.sidebar header {
	font-size: 22px;
	color: #EDF5E1;
	text-align: center;
	background: rgba(4, 9, 30, 0.7);
	user-select: none;
}
.sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 20px;
	color: rgba(4, 9, 30, 0.7);
	list-style: none;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	border-bottom: 1px solid black;
	transition: 0.5s;
}
.sidebar ul li:hover a{
		padding-left: 50px;
}
#check{
	display: none;
}

label #btn{
	position: absolute;
	cursor: pointer;
	background: rgba(4, 9, 30, 0.7);
}
label #btn{
	left: 0px;
	top: 180px;
	font-size: 20px;
	color: #EDF5E1;
	padding: 6px 12px;
}
#check:checked ~ .sidebar{
	left: 0;
}